# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
env/
venv/
.venv/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml